.container_destination{
    background-image: url("/src/Destination/images/background-destination-desktop-kopia.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination_header{
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 10.14%;
    top: calc(25% - 34px/2);
    font-size: 28px;
    letter-spacing: 4.725px;
}

.destination_header span{
    padding-right: 10px;
    font-weight: 700;
    mix-blend-mode: normal;
    opacity: 0.25;
}

.destination_section{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 160px 0 50px 0;
}

.destination_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 0;
}

.destination_menu ul{
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.destination_menu a{
    text-decoration: none;
    border-bottom: 3px transparent solid;
    color: #FFFFFF;
    padding: 10px 0;
}

.destination_menu a:hover{
    border-color:  #8A8B90;
}

.destination_menu a.active{
    border-color: #FFFFFF;
}

.destination_planet{
    width: 450px;
}

.destination_title{
    text-transform: uppercase;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    margin: 40px 0;
}

.destination_info{
    height: 128px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    margin-bottom: 50px;
}

.destination_data{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    margin-top: 20px;
    border-top: 1px solid #383B4B;
}

.destination_data_info{
    margin-top: 10px;
    padding-right: 79px;
}

.destination_data p {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: #D0D6F9;
}

.destination_data span{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

